<!-- Predpríprava pre PHP -->

<!-- Cookies -->
<div class="main_content-box cookies_content-box">
    <div class="section__box">
        <div class="section__column">
            <div class="section__content section__cokies">
                <div class="s-c_width__box">
                    <div class="title__box">
                        <h1 class="main-title__font">Cookies</h1>
                    </div>
                    <div class="content__box">
                        <span class="basic_text__font">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet, justo a mollis gravida, metus libero finibus nunc, eu scelerisque metus dolor vitae lacus. Sed cursus nibh gravida ligula tristique, ac blandit nibh convallis. Sed laoreet facilisis mauris faucibus suscipit. Mauris aliquet odio a ante scelerisque, condimentum vehicula metus rutrum. Ut at magna in enim euismod vestibulum. Suspendisse potenti. Suspendisse mollis ullamcorper est, et efficitur enim. Praesent quis ex non est faucibus viverra vel quis magna. Nam efficitur felis quam, eget placerat tortor vehicula non. Sed quis porttitor augue, eu facilisis augue. Donec vel turpis urna.
                            Vestibulum bibendum velit id sem fermentum ornare. In hac habitasse platea dictumst. Cras tincidunt porta enim eget porta. Nam ut erat vel mi posuere dictum. Phasellus dictum commodo urna, sit amet aliquam velit rhoncus vel. Maecenas eu nulla non purus iaculis facilisis. Integer aliquam faucibus ullamcorper. Donec venenatis arcu id quam feugiat finibus malesuada sit amet velit. Etiam vehicula consectetur dui non rutrum. Integer a interdum ipsum, sit amet egestas diam. Proin non turpis nec ipsum porttitor pretium id non nunc.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ -end- of Cookies ] -->